# TARGET config
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ALL_PROFILES=n
CONFIG_TARGET_ROOTFS_INITRAMFS=n
CONFIG_FEED_video=n

# Device profiles
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_clx_s20l=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_clx_s20m=y
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_clx_s20p=y

# Remove vendor and mt76 wireless packages from every device image.
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_clx_s20l="-wpad-openssl -kmod-mt_wifi -kmod-conninfra -kmod-warp -wifi-dats -wifi-profile -mtwifi-cfg -mtwifi-cfg-ucode -luci-app-mtwifi-cfg -luci-i18n-mtwifi-cfg-zh-cn -kmod-mt76 -kmod-mt76-connac -kmod-mt76-core -kmod-mt7915e -kmod-mt7915-firmware -kmod-mt7916-firmware -kmod-mt7986-firmware -mt7986-wo-firmware"
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_clx_s20m="-wpad-openssl -kmod-mt_wifi -kmod-conninfra -kmod-warp -wifi-dats -wifi-profile -mtwifi-cfg -mtwifi-cfg-ucode -luci-app-mtwifi-cfg -luci-i18n-mtwifi-cfg-zh-cn -kmod-mt76 -kmod-mt76-connac -kmod-mt76-core -kmod-mt7915e -kmod-mt7915-firmware -kmod-mt7916-firmware -kmod-mt7986-firmware -mt7986-wo-firmware"
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_filogic_DEVICE_clx_s20p="-wpad-openssl -kmod-mt_wifi -kmod-conninfra -kmod-warp -wifi-dats -wifi-profile -mtwifi-cfg -mtwifi-cfg-ucode -luci-app-mtwifi-cfg -luci-i18n-mtwifi-cfg-zh-cn -kmod-mt76 -kmod-mt76-connac -kmod-mt76-core -kmod-mt7915e -kmod-mt7915-firmware -kmod-mt7916-firmware -kmod-mt7986-firmware -mt7986-wo-firmware"

CONFIG_PACKAGE_wpad-openssl=n
CONFIG_PACKAGE_kmod-mt_wifi=n
CONFIG_PACKAGE_kmod-conninfra=n
CONFIG_PACKAGE_kmod-warp=n
CONFIG_PACKAGE_wifi-dats=n
CONFIG_PACKAGE_wifi-profile=n
CONFIG_PACKAGE_mtwifi-cfg=n
CONFIG_PACKAGE_mtwifi-cfg-ucode=n
CONFIG_PACKAGE_luci-app-mtwifi-cfg=n
CONFIG_PACKAGE_luci-i18n-mtwifi-cfg-zh-cn=n

# Ethernet hardware acceleration and USB tethering
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-mediatek_hnat=y
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_mii_mgr=y
CONFIG_PACKAGE_regs=y
CONFIG_PACKAGE_switch=y

# MTK HNAT and eQoS
CONFIG_PACKAGE_mtkhqos_util=y
CONFIG_PACKAGE_tc-tiny=y
CONFIG_PACKAGE_luci-app-eqos=n
CONFIG_PACKAGE_luci-app-eqos-mtk=y
CONFIG_PACKAGE_luci-i18n-eqos-mtk-zh-cn=y
CONFIG_PACKAGE_luci-app-turboacc-mtk=y
CONFIG_PACKAGE_luci-i18n-turboacc-mtk-zh-cn=y
CONFIG_PACKAGE_TURBOACC_INCLUDE_FLOW_OFFLOADING=n
CONFIG_PACKAGE_TURBOACC_INCLUDE_NO_FASTPATH=y

# Package
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_docker=n

CONFIG_PACKAGE_easytier=y
CONFIG_PACKAGE_luci-app-easytier=y
CONFIG_EASYTIER_INCLUDE_WEBCONSOLE=n
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_rclone=n
CONFIG_PACKAGE_luci-app-openlist=n
CONFIG_PACKAGE_luci-app-cloudflared=y

# Enable Luci App
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-axonhub=y
CONFIG_PACKAGE_luci-app-wolultra=y
